.metadata
*.classpath
*.project
program-dev/modi/items/
program-dev/modi/prefs/
program-dev/rss.xml
program-dev/bin
modus-dev/bin
widget-dev/bin
program-dev/files
Get Modi and Widgets.workflow